@using EntityLayer.Concrete
@model List<About>
<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <ul>

        @foreach (var item in Model)
        {
                <li>
                    <a class="twitter" href="#">
                        <i class="fab fa-twitter"></i>
                        <span class="count">317K</span> Twitter Hesabı
                    </a>
                </li>
            
                <li>
                    <a class="facebook" href="@item.iletisimadresleri.Facebook">
                        <i class="fab fa-facebook-f"></i>
                        <span class="count">218k</span> Facebook Hesabı
                    </a>
                </li>
            
           
                @*<li>
                    <a class="pin" href="@item.iletisimadresleri.Youtube">
                        <i class="fab fa-youtube"></i>

                        <span class="count">215k</span> Youtube Hesabı
                    </a>
                </li>*@
            
                <li>
                    <a class="github" href="https://www.github.com/Hayalet0147/">
                        <i class="fab fa-github"></i>
                        <span class="count">190k</span> Github Hesabı
                    </a>
                </li>
           }
    </ul>
</div>