@model EntityLayer.Concrete.AppUser


 <div class="dropdown profile-element">

    <img alt="image" class="rounded-circle" src="~/WriterImageFiles/@Model.ImageUrl" style="width:150px; height:100px;" />
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs font-bold">@Model.UserName</span>
            <span class="text-muted text-xs block">@Model.Email<b class="caret"></b></span>
        </a>
     
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a class="dropdown-item" href="profile.html">Profile</a></li>
            <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
            <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="login.html">Logout</a></li>
        </ul>

    </div>

