
<form action="/Blog/Searchcubugu" method="get" class="form-inline my-2 my-lg-0 header-search">
    <input class="form-control mr-sm-2" type="text" placeholder="Aranacak Kelime..." name="query" required="">
    <button class="btn btn1 my-2 my-sm-0" type="submit">
        <i class="fas fa-search"></i>
    </button>
</form>