

    @if (ViewBag.writerid == 1)
    {
        <li class="">
            <a class="nav-link" href="/Admin/Widget/Index/">
                <i class="mdi mdi-power">Admin Sayfası</i>
            </a>
        </li>
    }

