
@{
    ViewData["Title"] = "BlogListExel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>BlogListExel</h1>
<br />
<a href="/Admin/Blog/ExportStaticExcelBlogList/" class="btn btn-primary">Excel Listeini İndir</a>
@*<button class="btn btn-primary" onclick="DownloadExcelBloglist">Excel Listeini İndir</button>*@

@*<script>
    function downloadExcelBloglist() {
        window.open("/Admin/Blog/ExportStaticExcelBlogList/");
    }
</script>*@

