
<hr>
<div class="row">
    <div class="col-sm-3">
        <h4 class="mb-0"> Github </h4>
    </div>
    <div class="col-sm-9 text-secondary">
        <input type="text" name="Github" class="form-control" id="Github" placeholder="" />
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-3">
        <h4 class="mb-0"> Instagram </h4>
    </div>
    <div class="col-sm-9 text-secondary">
        <input type="text" name="Github" class="form-control" id="Github" placeholder="" />
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-3">
        <h4 class="mb-0"> Linkedin </h4>
    </div>
    <div class="col-sm-9 text-secondary">
        <input type="text" name="Github" class="form-control" id="Github" placeholder="" />
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-3">
        <h4 class="mb-0"> YouTube </h4>
    </div>
    <div class="col-sm-9 text-secondary">
        <input type="text" name="Github" class="form-control" id="Github" placeholder="" />
    </div>
</div>
<hr>
