<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"> © Copyright @DateTime.Now.Year | Tüm Hakları Saklıdır</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Yazar Paneli <a href="https://localhost:44300/Home/Index" target="_blank">www.hasanbozkus.com.tr</a></span>
    </div>
</footer>